<section class="slice sct-color-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6 col-md-offset-3 post_image_form">
            <div class="section-title-wrapper style-1 v1">
              <h3 class="section-title section-title-sm left">
                <span>画像投稿フォーム</span>
              </h3>
            </div>

           

              <div class="row">
                <div class="col-sm-12">
                  <textarea class="form-control" rows="3" placeholder="コメントここに"></textarea>
                </div>
              </div>

              <hr>

              

              <button type="submit" class="btn btn-lg btn-block btn-base-1 mt-20">送信</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>